<app-student-nav-bar></app-student-nav-bar>

<div id="container">
  <nav id="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/studentLogged">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Payment History</li>
    </ol>
  </nav>
  <h3 id="paymentTxt">Payment History</h3>
  <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Payment ID</th>
          <th scope="col">Payment Date (DD/MM/YYYY)</th>
          <th scope="col">Payment Type</th>
          <th scope="col">Amount (₹)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of allPaymentOfStud">
          <td>{{ payment.Payment_ID }}</td>
          <td>{{ payment.Date | date: 'yyyy-MM-dd'}}</td>
          <td>{{ payment.Payment_Type }}</td>
          <td>{{ payment.Amount }}</td>
        </tr>
      </tbody>
    </table>
</div>
