#statsTxt{
    font-size: 24px;
    margin-left: 40%;
}

#container{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.custom-select{
    max-width: 15%;
}

#tableHead{
    background-color: #005A7F;
}

#statsTable{
    margin-top: 2%;
}

th{
    color: white;
    padding: 5px;
    text-align: center;
}

td{
    text-align: center;
}
