<app-student-nav-bar></app-student-nav-bar>
<div id="container">
    <h3 id="statsTxt">Statistics</h3>
    <div id="selector">
        Select Month: 
        <select>
            <option value="Jan">January</option>
            <option value="Feb">February</option>
            <option value="Mar">March</option>
            <option value="Apr">April</option>
            <option value="May">May</option>
            <option value="Jun">June</option>
            <option value="Jul">July</option>
            <option value="Aug">August</option>
            <option value="Sep">September</option>
            <option value="Oct">October</option>
            <option value="Nov">November</option>
            <option value="Dec">December</option>
        </select>
    </div>
    <div id="statsTable">
        <table class="table table-striped table-hover table-bordered">
            <thead id="tableHead" class="thead">
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Amount Spent</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Breakfast</td>
                <td>1500</td>
              </tr>
              <tr>
                <td>Lunch</td>
                <td>560</td>
              </tr>
              <tr>
                <td>Tea/Coffee</td>
                <td>251</td>
              </tr>
              <tr>
                <td>Snacks</td>
                <td>202</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>