<app-student-nav-bar></app-student-nav-bar>
<div id="container">
  <nav id="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/studentLogged">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Statistics</li>
    </ol>
  </nav>
    <h3 id="statsTxt">Statistics</h3>
    <div>
      <select class="custom-select" (change)="generateList($event.target.value)">
          <option selected value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
      </select>
    </div>
    <div id="statsTable">
        <table class="table table-striped table-hover table-bordered">
            <thead id="tableHead" class="thead">
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Amount Spent</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Breakfast</td>
                <td>{{ expensesOfStud[0].BF_Amount }}</td>
              </tr>
              <tr>
                <td>Lunch</td>
                <td>{{ expensesOfStud[0].Lunch_Amount }}</td>
              </tr>
              <tr>
                <td>Snacks</td>
                <td>{{ expensesOfStud[0].Snacks_Amount }}</td>
              </tr>
              <tr>
                <td>Tea/Coffee</td>
                <td>{{ expensesOfStud[0].TeaCoffee_Amount }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>