<app-header></app-header>
<app-admin-nav-bar></app-admin-nav-bar>
<div id="headerContainer">
  <h3>Payment History</h3>
  <div id="studIDBox"class="form-group">
    <input type="text" class="form-control" placeholder="Enter Student ID" id="studentID">
  </div>
  <span id="datepicker">
    <input type="date" name="bday">
    <input type="submit">
  </span>
</div>
    <div id="container">
        <h3 id="paymentTxt"><b>Month:-</b>August</h3>
        <table class="table">
            <thead class="thead">
              <tr>
                <th scope="col">Payment ID</th>
                <th scope="col">Payment Date (DD/MM/YYYY)</th>
                <th scope="col">Payment Type</th>
                <th scope="col">Account no.</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SBI4268763724</td>
                <td>22/05/2019</td>
                <td>UPI</td>
                <td>21XXXXXXXXX78</td>
                <td>1200</td>
              </tr>
              <tr>
                <td>HDFC473927478</td>
                <td>16/07/2018</td>
                <td>Credit Card</td>
                <td>26XXXXXXXXX45</td>
                <td>300</td>
              </tr>
              <tr>
                <td>ICICI3284677</td>
                <td>31/01/2017</td>
                <td>Debit Card</td>
                <td>31XXXXXXXXX10</td>
                <td>1200</td>
              </tr>
            </tbody>
          </table>
</div>
