#logo {
  height: 9vh;
  width: 11vw;
}

#banner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  background-color: #005a7f;
}

#bannerTxt {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 36px;
  letter-spacing: 5px;
  word-spacing: 6px;
  margin-left: 230px;
}

#navBar {
  margin-top: 4.2%;
  background-color: #dfe6e9;
}
