<nav id="navBar" class="navbar navbar-expand-sm navbar-light navbar-custom">
  <a class="navbar-brand" routerLink="/CMLogged"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navTarget">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navTarget">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <p id="Name">CM</p>
      </li> 
      <li class="nav-item">
        <a routerLink="/CMLogin" (click)="logoutCM()" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
  

