#container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    max-width: 25%;
}

#breadcrumb{
    max-width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#paymentTxt{
    margin-left: 7vw;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#paymentBtn{
    background-color: #005A7F;
    margin-top: 18px;
    margin-left: 26%;
}

.alert{
    width: 100%;
    text-align: center;
}