<app-student-nav-bar></app-student-nav-bar>

<nav id="breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/studentLogged">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Payment</li>
  </ol>
</nav>
<div id="container">
  <p id="paymentTxt">Enter amount</p>
  <form #form="ngForm" (ngSubmit)="proceedToPay(form)">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">₹</span>
        </div>
        <input required ngModel name="amt" id="amt" type="text" class="form-control" #amount="ngModel" [class.is-invalid]="(!amount.valid && amount.touched) || (amount.valid && +(1 > amount.value) && amount.touched)" >
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
        <div class="alert alert-danger" *ngIf="(!amount.valid && amount.touched)">
          <div *ngIf="amount.errors.required">Please enter the amount</div>
        </div>
        <div class="alert alert-danger" *ngIf="(amount.valid && amount.touched && +(1 > amount.value))">
          <div *ngIf="+(1 > amount.value) ">Amount should be greater than 0</div>
        </div>
        
        <button id="paymentBtn" type="submit" class="btn btn-info">Proceed to Payment</button>
      </div>
    </div>
  </form>
</div>