<app-student-nav-bar></app-student-nav-bar>

<div id="container">
  <nav id="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/studentLogged">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
  <p id="userHeading">User Profile</p>
  <div id="imageCard" class="card" style="width: 12rem; ">
    <img
      class="card-img-top"
      src="../../../assets/images/default-profile-picture.png"
      alt="Card image cap"
    />
  </div>

  <div id="formContainer">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="form-group">
        <label for="studName">Student Name</label>
        <input type="text" class="form-control" id="studName" disabled="true" />
      </div>
      <div class="form-group">
        <label for="studID">Student ID</label>
        <input type="text" class="form-control" id="studID" disabled="true" />
      </div>

      <div class="form-group">
        <label for="emailID">Email ID</label>
        <input
          required
          type="email"
          class="form-control"
          id="emailID"
          [disabled]="!canEdit"
          ngModel
          name="email"
          email
          #email="ngModel"
          [class.is-invalid]="!email.valid && email.touched"
        />

        <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            <div  *ngIf="email.errors.required">
              Please enter your email
            </div>
            <div *ngIf="!email.valid && !email.errors.required">
                Please enter a valid email
            </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          required
          minlength="10"
          maxlength="10"
          ngModel
          name="phnno"
          type="text"
          [class.is-invalid]="!phnno.valid && phnno.touched"
          class="form-control"
          id="phoneNumber"
          [disabled]="!canEdit"
          #phnno="ngModel"
        />

        <div class="alert alert-danger" *ngIf="!phnno.valid && phnno.touched">
          <div *ngIf="phnno.errors.required">
            Please enter your mobile number
          </div>
          <div *ngIf="phnno.errors.minlength">
            Mobile number should be of minimum
            {{ phnno.errors.minlength.requiredLength }} digits
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          required
          minlength="5"
          maxlength="12"
          ngModel
          name="passwd"
          type="password"
          [class.is-invalid]="!passwd.valid && passwd.touched"
          class="form-control"
          id="password"
          [disabled]="!canEdit"
          #passwd="ngModel"
        />

        <div class="alert alert-danger" *ngIf="!passwd.valid && passwd.touched">
          <div *ngIf="passwd.errors.required">Please enter your password</div>
          <div *ngIf="passwd.errors.minlength">
            Minimum password length should be
            {{ passwd.errors.minlength.requiredLength }}
          </div>
        </div>
      </div>

      <button id="saveBtn" type="submit" class="btn btn-primary">
        Save Profile
      </button>
      <button id="editBtn" type="button" (click)="enableStudentEdit()" class="btn btn-primary">
        Edit Profile
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>
