#container{
    margin-top: 26vh;
    margin-left: 23vw;
    max-width: 60%;
}

.outcomeDetails{
    font-size: 22px;
    margin-left: 22.5vw;
}

h2{
    margin-left: 17vw;
}

#successDetails{
    font-size: 22px;
    margin-left: 19vw;
}