<div id="container">
    <h3>Payment</h3>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      Credit Card
                    </a>
                    <a href="/" class="list-group-item list-group-item-action">Debit Card</a>
                    <a href="#" class="list-group-item list-group-item-action">UPI</a>
                    <a href="#" class="list-group-item list-group-item-action">Wallets</a>
                  </div>
            </div>
            <div id="paymentForm" class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
