<app-student-nav-bar></app-student-nav-bar>
<div id="container">
    <nav id="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/studentLogged">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Payment</li>
        </ol>
    </nav>
    <h3>Payment</h3>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-md-4">
                <div class="list-group">
                    <a routerLink="actualpayment/1" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" class="list-group-item list-group-item-action active">
                      Credit Card
                    </a>
                    <a routerLink="actualpayment/2" routerLinkActive="active" class="list-group-item list-group-item-action">Debit Card</a>
                    <a routerLink="actualpayment/3" routerLinkActive="active" class="list-group-item list-group-item-action">UPI</a>
                    <a routerLink="actualpayment/4" routerLinkActive="active" class="list-group-item list-group-item-action">Wallets</a>
                  </div>
            </div>
            <div id="paymentForm" class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
