#container{
    margin-top: 25vh;
}

#uploadBtn{
    background-color: #005A7F;
    margin-left: 35%;
    width: 32%;
    display: block;
}

#showUsersBtn{
    margin-top: 1%;
    margin-left: 35%;
    background-color: #005A7F;
    width: 32%;
}

.CMBtn{
    width: 50vh;
    height: 7vh;
    font-family: 'Arimo', sans-serif;
    color:white;
    font-size: 18px;
    margin-top: 2%;
    margin-left: 18%;
    background-color: #005A7F;
}