<app-header></app-header>
<div id="linkContainer">
    <a routerLink="/"><strong>Student Login</strong></a><br/>
    <a routerLink="/CMLogin"><strong>Canteen Manager Login</strong></a>
  </div>
  <div class="shadow p-3 mb-5 bg-white rounded" id="container">
    <h3 id="loginTxt">Admin Login</h3>
    <form #form="ngForm" (ngSubmit)="loginAdmin(form)">
      <div class="form-group">
        <input
          required
          minlength="1"
          maxlength="1"
          ngModel
          name="adminID"
          type="text"
          placeholder="Enter Admin ID"
          [class.is-invalid]="!adminID.valid && adminID.touched"
          class="form-control"
          id="admID"
          #adminID="ngModel"
        />
      </div>
      <div class="alert alert-danger" *ngIf="!adminID.valid && adminID.touched">
        <div *ngIf="adminID.errors.required">Please enter admin ID</div>
        <div *ngIf="adminID.errors.minlength">
          Admin ID should be of minimum
          {{ adminID.errors.minlength.requiredLength }} digits
        </div>
      </div>
      <div class="form-group">
        <input
          required
          minlength="4"
          maxlength="12"
          ngModel
          name="adminPass"
          type="password"
          placeholder="Enter password"
          [class.is-invalid]="!adminPass.valid && adminPass.touched"
          class="form-control"
          id="password"
          #adminPass="ngModel"
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="!adminPass.valid && adminPass.touched"
      >
        <div *ngIf="adminPass.errors.required">Please enter password</div>
        <div *ngIf="adminPass.errors.minlength">
          Minimum password length should be 
          {{ adminPass.errors.minlength.requiredLength }}
        </div>
      </div>
      <button id="loginBtn" class="btn btn-info">Login</button>
    </form>
      <p id="forgotText">Forgot password? Click <a href="#">here!</a> </p>
</div>