

<div id="linkContainer">
    <a routerLink="/adminLogin"><strong>Admin Login</strong></a><br/>
    <a routerLink="/"><strong>Student Login</strong></a>
  </div>
  <div id="container">
      <h3 id="loginTxt">Canteen Manager Login</h3>
        <div class="form-group">
          <input type="text" placeholder="Enter your ID" class="form-control"  id="cmID" #CMID/>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Enter your password" class="form-control" id="password" #CMPass>
        </div>
        <button id="loginBtn" (click)="validateCM(CMID,CMPass)" type="submit" class="btn btn-info">Login</button>
        <p id="forgotText">Forgot password? Click <a href="#">here!</a> </p>
  </div>