#container{
    margin-top: 20vh;
    margin-left: 35%;
    margin-right: auto;
    max-width: 25%;
}

#Txt{
    margin-left: 26%;
    margin-bottom: 25px;
}

#SearchBtn{
    margin-left: 40%;
    background-color: #005A7F;
}

h3{
    margin-left: 19%;
}

.form-group{
    margin-top: 5vh;
}