#container{
    margin-top: 10vh;
    margin-left: 35%;
    max-width: 25%;
}

#breadcrumb{
    max-width: 45%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#txtBox{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#btnColor{
    margin-left: 40%;
    background-color: #005A7F;
}

h3{
    margin-left: 18%;
}

.form-group{
    margin-top: 5vh;
}

#tableHead{
    background-color: #005A7F;
}

#tableContainer{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

th{
    color: white;
    padding: 5px;
    text-align: center;
}

td{
    text-align: center;
}

#editBtn{
    background-color: #005A7F;
}
