#container{
    max-width: 25%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

#breadcrumb{
    max-width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

h3{
    margin-left: 18%;
}

.custom-file{
    margin-top: 8%;
}

#uploadBtn{
    margin-top: 10%;
    margin-left: 35%;
    background-color: #005A7F;
}