#container{
    margin-top: 10vh;
    margin-left: 28vw;
}

#breadcrumb{
    max-width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

h3{
    margin-left: 18%;
    margin-bottom: 3%;
}

h4{
    margin-top: 3%;
}


.custom-file{
    margin-top: 8%;
}

#uploadBtn{
    margin-top: 10%;
    margin-left: 35%;
    background-color: #005A7F;
}