<app-header></app-header>
<app-student-nav-bar></app-student-nav-bar>
<div id="walletInfoDisp">
    <strong>Wallet Balance: {{ walletBalance }}</strong><br/>
    <a routerLink="payment"><strong>Add money to wallet</strong></a>
</div>
<div id="foodContainer">
    <p id="foodContainerTxt">Apply for food</p>
    <div class="border border-primary" id="border">
        <div class="custom-control custom-checkbox"> 
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline1">
                <label class="custom-control-label" for="defaultInline1">Breakfast</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                <label class="custom-control-label" for="defaultInline2">Lunch</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline3">
                <label class="custom-control-label" for="defaultInline3">Tea/Coffee</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline4">
                <label class="custom-control-label" for="defaultInline4">Tea/Coffee (E)</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline5">
                <label class="custom-control-label" for="defaultInline5">Snacks</label>
            </div>
        </div>
    </div>
    <button id="submitBtn" class="btn btn-info">Submit</button>
</div>


