<app-header></app-header>
<app-admin-nav-bar></app-admin-nav-bar>
<div id="container">
    <button id="uploadDetails" class="btn btn-info adminBtn" routerLink="/uploadDetails"><strong>Upload Academic Details</strong></button><br>
    <button id="searchStud" class="btn btn-info adminBtn" routerLink="/searchStu"><strong>Search Students</strong></button><br>
    <button id="menu" class="btn btn-info adminBtn" routerLink="/adminMenu"><strong>View Today's Menu</strong></button><br>
    <button id="registeredUsers" class="btn btn-info adminBtn" routerLink="/viewUsersAdmin"><strong>View Registered User</strong></button><br>
    <button id="paymentHistory" class="btn btn-info adminBtn" routerLink="/paymenthistoryadmin"><strong>View Payment History</strong></button>
</div>