<app-header></app-header>
<div id="loginBtn">
    <button id="submitBtn" class="btn btn-info" (click)="uploadDetails()" class ="adminlogin"><b>Upload Academic Details</b></button><br>
    <button id="submitBtn" class="btn btn-info" class ="adminlogin"><b>Search Students</b></button><br>
    <button id="submitBtn" class="btn btn-info" class ="adminlogin"><b>View Today's Menu</b></button><br>
    <button id="submitBtn" class="btn btn-info" class ="adminlogin"><b>View Registered User</b></button><br>
    <button id="submitBtn" class="btn btn-info" class ="adminlogin"><b>View Payment History</b></button>
</div>