
<div id="foodTable">
<table>
  <thead>
    <tr>
     <th> <span class="tableHead"> Breakfast </span></th> 
     <td> <textarea [(ngModel)]="breakfast" class="text"></textarea></td> 
    </tr>

    <tr>
     <th > <span class="tableHead">Lunch</span> </th> 
     <td> <textarea [(ngModel)]="lunch" class="text"></textarea></td> 
    </tr>

    <tr>  
     <th> <span class="tableHead"> Snacks</span></th> 
     <td> <textarea [(ngModel)]="snacks" class="text"></textarea> </td> 
    </tr>     
  </thead>
</table>
<button id="submitBtn" (click)="uploadMenu()" type="submit" class="btn btn-info">Submit</button>

</div>



